# Build directories
/build/
/build*/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Ninja
.ninja*
build.ninja
rules.ninja

# Visual Studio
*.sln
*.vcxproj*
*.vcxproj.filters
*.vcxproj.user
*.pdb
*.obj
*.idb
*.ipch
*.opensdf
*.sdf
*.db
*.tlog
*.log

# VS folders
/.vs/
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
